downloaded_ckpts/*
.vscode/*
__pycache__/*
analysis/analysis_results/*
data/Amazon/*
temp_results/*
results/*
result_temp/*
wandb/*
output_dir/*
analysis_results/*
temp/*
logs/*
*.whl
*.pyc

data_backup/*

*.csv

rq/


.DS_Store
**/.DS_Store

mimic-dataset/
